<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Employee</title>
     <link rel="stylesheet"
     href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">

</head>
<body>
    <h1>Add New Employee</h1>
    <form method="POST">
        {{ form.hidden_tag()}}
       {% for field in form
            if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}
        </p>

        {% endfor %}
        <button>Submit</button>
    </form>

</body>
</html>