<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
     <link rel="stylesheet"
     href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">

</head>
<body>
    {% for msg in get_flashed_messages() %}

    <p>
        {{msg}}
    </p>

    {% endfor %}

    <ul>
        <li><a href="/snacks/new">Add a new snack</a></li>
        <li><a href="/phones">View phone numbers</a></li>

    </ul>
</body>
</html>